LOG_LEVEL=
NODE_ENV=development
PORT=
COOKIE_SECRET=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRY=
JWT_REFRESH_EXPIRY=
DATABASE_URL=
DIRECT_URL=
DB_PASSWORD=

RESEND_API_KEY=
EMAIL_PROVIDER=
EMAIL_FROM=
REPLY_TO=

STORAGE_PROVIDER=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_STORAGE_BUCKET=

WHATSAPP_PROVIDER=
INTERAKT_API_KEY=
